header {
  position: fixed;
  top: calc(#{$main-padding} * 0.7);
  left: 0;
  width: 100%;
  z-index: 3;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0rem $main-padding;
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 0.3s ease;
    &.--hidden {
      opacity: 0;
      transform: translate(0px, -100px);
    }
    a,
    button {
      font-size: 3rem;
      text-decoration: none;
      text-transform: uppercase;
    }
    button {
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
  }
}
