header {
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 3;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    a,
    button {
      font-size: 3rem;
      text-decoration: none;
      text-transform: uppercase;
    }
    button {
      cursor: pointer;
      &:focus {
        outline: 0;
      }
    }
  }
}
