p,
a,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
  //font-family: Lausanne;
  font-size: $main-size;
  line-height: 1.4;
  color: $primary-text;
}

h1,
h2 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 4rem;
}

h1,
h2,
a,
button {
  font-family: Helvetica;
}
