// :root {
//   --main-text-color: #000000;
//   --second-text-color: #d0d0d0;
//   --spacing: 1.9rem;
// }

$breakdown-sm: 767.98px;
$breakdown-md: 991.98px;
$breakdown-lg: 1199.98px;

$headerHeight: 60px;

$expand-navbar: $breakdown-md;

$bg: #000000;

$primary-text: #ffffff;
$secondary-text: #555555;
$main-size: 1.4rem;
